body {
	padding-top: 30px;
	font-family: 'Cabin', sans-serif;
}
.transformUp {
	text-transform: uppercase;
}
a.no-decoration:hover,
a.no-decoration:active,
a.no-decoration:visited,
a.no-decoration:link {
	text-decoration: none;
}
.no-display {
	display: none;
}
#toggle-clan-details-btn {
	margin-bottom: 10px;
}
#clan-member-accordion .panel-body p span {
	font-weight: bold;
}
#save-member-list .panel-group {
	margin-top: 10px;
}
#save-member-list h3:nth-child(2) {
	padding: 0;
	margin: 15px 0;
}